KAFKA_TOPIC=traffic-data
KAFKA_SERVER=localhost:9092
PRODUCER_INTERVAL_SECONDS=1

POSTGRES_DB=traffic_db
POSTGRES_USER=traffic_user
POSTGRES_PASSWORD=traffic_pass
POSTGRES_HOST=localhost
POSTGRES_HOST_PORT=55432
POSTGRES_URL=jdbc:postgresql://localhost:55432/traffic_db
POSTGRES_ENABLED=true

SPARK_SUBMIT=.venv/bin/spark-submit
STREAMLIT_BIN=.venv/bin/streamlit
AIRFLOW_BIN=.venv/bin/airflow
AIRFLOW_HOME=/tmp/smart_city_traffic_airflow_cli
AIRFLOW_DAGS_FOLDER=/Users/lakpahana/htdocs/smart-city-traffic-system/airflow/dags

SPARK_KAFKA_PACKAGE=org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.1
POSTGRES_JDBC_PACKAGE=org.postgresql:postgresql:42.7.3
DASHBOARD_PORT=8501
